{% extends 'base.html' %}

{% block content %}
    <h1>Department Announcements & Events</h1>
    
    {% if announcements %}
        <ul>
            {% for item in announcements %}
                <li>
                    <h2>{{ item.title }}</h2>
                    <p><em>Posted on: {{ item.date }}</em></p>
                    <p>{{ item.content }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No announcements at this time.</p>
    {% endif %}
{% endblock %}