<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Portal</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('announcements') }}">Announcements & Events</a></li>
            <li><a href="{{ url_for('downloads') }}">File Downloads</a></li>
        </ul>
    </nav>
    <hr>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>