{% extends 'base.html' %}

{% block content %}
    <h1>File Downloads</h1>
    <p>Download official department resources below.</p>
    
    {% if files %}
        <ul>
            {% for file in files %}
                <li>
                    {{ file.name }} ({{ file.size }}) 
                    <a href="{{ url_for('download_file', filename=file.name) }}">[Download]</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No files available for download.</p>
    {% endif %}
{% endblock %}